[workspace]
resolver = "2"
members = [
  # Frontend
  "crates/gox-common",
  "crates/gox-syntax",
  "crates/gox-analysis",
  "crates/gox-module",
  
  # Code Generation
  "crates/gox-codegen-vm",
  "crates/gox-codegen-llvm",
  
  # Compilation Targets
  "crates/gox-target-native",
  "crates/gox-target-wasm",
  "crates/gox-target-sbf",
  
  # VM
  "crates/gox-vm",
  
  # Runtime
  "crates/gox-runtime-core",
  "crates/gox-runtime-vm",
  "crates/gox-runtime-native",
  "crates/gox-runtime-wasm",
  "crates/gox-runtime-sbf",
  
  # Tools
  "crates/gox-cli",
  "crates/gox-tests",
]

[workspace.package]
version = "0.1.0"
edition = "2021"
license = "MIT"
