[workspace]
resolver = "2"
members = [
  "lang/crates/*",
  "libs/vox/rust",
]

[workspace.package]
version = "0.1.0"
edition = "2021"
license = "MIT"

# vo-web release profile (WASM optimization)
[profile.release]
opt-level = "s"
lto = true
