[workspace]
resolver = "2"
members = [
  "lang/crates/*",
  "lang/crates/vo-web/runtime-wasm",
  "libs/vox/rust",
  "libs/vogui/rust",
  "playground/rust",
  "cmd/vo/rust",
  "cmd/vo-embed",
  "cmd/vo-test/rust",
]

[workspace.package]
version = "0.1.0"
edition = "2021"
license = "MIT"

# vo-web release profile (WASM optimization)
[profile.release]
opt-level = "s"
lto = true
strip = true
debug = false
